body{
    padding: 0px;
    margin: 0px;
    background: linear-gradient( #64b5f6 );

}


.InfoBox{
    /* padding-top: 100px ; */
    text-align: center;

}

.WeatherApp{
    text-align: center;
    /* border: 2px solid black; */
    border-radius: 20px;
    background-color: aliceblue;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ForFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px; 
    margin-right: 20px;
}

.Img{
    height:45px;
    border-radius:50%;
    padding: 10px;
    cursor: pointer;
}

/* .head{
    font-family: sans-serif;
    text-align: center;
    color: gold;
    margin-bottom: 0px;
} */
